h1 {
    color: rgb(255, 123, 0);
    font-size: large;
}

h2 {
    color: rgb(114, 30, 30);
}

h3 {

    color: rgb(209, 197, 28);
}

b {

    color: rgb(16, 27, 9);
}

i {

    color: rgb(243, 247, 236);
}
p{
    text-transform: capitalize;
}

th, td{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }


  table{
    border-spacing: 30px;
  }
  
  table{
    margin-left: auto;
    margin-left: auto;
  }

  .main nav ul{

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 70px;
    list-style: none;
  }
  .main nav ul a{
    text-decoration: none;
  }
  .main nav{

    background-color: teal;
  }
  th{
    background-color: teal;
  }
  p{
    font-size: large;
  }
  h1,h2{
    font-size: xx-large;
  }
  h3{
    font-size: x-large;
  }

  .Coures cards{
    background-color: white;

  }
  body{
    
    background-color: rgb(245, 244, 242);
  }